%nav
  %div{class:"nav-wrapper"}
    <!-- Logo -->
    %a{"data-activates": "mobile-demo", class:"button-collapse"}
      %i{class:"fa fa-bars"}
    <!-- Right Navigation -->
    %ul{id:"nav-mobile", class:"right hide-on-med-and-down"}
      %li
        = link_to "About", "/index.html"
      %li
        = link_to "My Work", "/index.html"
      %li
        = link_to "My CV", "/index.html"
      %li
        = link_to "Contact Me", "/index.html", class:"waves-effect waves-light btn"
    %ul{class:"side-nav", id:"mobile-demo"}
      %li
        = link_to "About", "/index.html"
      %li
        = link_to "My Work", "/index.html"
      %li
        = link_to "My CV", "/index.html"
      %li
        = link_to "Contact Me", "/index.html", class:"waves-effect waves-light btn"
