
.banner{style:"background-image: linear-gradient(-180deg, rgba(20,20,20,0.70) 0%, rgba(20,20,20,0.70) 90%), url('images/desk3.jpg')"}
  .container
    %h1 Nathan Kuik
    %h5{class:"thin"} Full Stack Developer
    %h5{class:"thin"} Consultant
.wrapper-gray
  .container
    .row
      %div{class:"col s10 offset-s1 vertical-margin"}
        %div{class:"card-panel s10 offset-s1 white top-margin center"}
          %h3{class:"teal-text darken-1"} About Me
          %p{class:"teal-text darken-1 section scrollspy flow-text"}
            I'm a former (currently licensed) co-occurring therapist that's shifted into
            tech and web development. I live in Copenhagen and I love it.
          %p{id: "about", class:"section scrollspy flow-text teal-text darken-1"}
            I've always been interested in coding, so I took the plunge and completed a 9-week bootcamp through
            = link_to "Le Wagon", "https://www.lewagon.com/", class:"teal-text darken-1"
            and it's what I do now.
          %p{class:"flow-text teal-text darken-1"}
            I'm open for ideas and projects, so
            = link_to "send me a message!", "#contact", class:"teal-text darken-1"
          = link_to "See my work", "#work", class:"top-margin waves-effect waves-light btn-large teal darken-1"

.short-banner{style:"background-image: linear-gradient(-180deg, rgba(20,20,20,0.70) 0%, rgba(20,20,20,0.70) 90%), url('images/work.jpg')"}
  .container
    %h4.white-text.center Recent work

.wrapper-gray
  .container{id:"work"}
    .row.padded
      %div{class:"col s8 offset-s2"}
        %div{class:"card"}
          .card-image.waves-effect.waves-block.waves-light
            = image_tag "worlddifference.png", class:"activator"
          .card-content
            %span{class:"card-title activator grey-text text-darken"}
              World of Difference
              %i{class:"material-icons right"} more_vert
            %p
              = link_to "check it out", "https://world-of-difference-nkuik.herokuapp.com/", target: "_blank", class:"teal-text darken-1"
          .card-reveal
            %span{class:"card-title grey-text text-darken-4"}
              World of Difference Rails App
              %i{class:"material-icons right"} close
            %p Another project I worked on
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{class:"card section scrollspy"}
          .card-image.waves-effect.waves-block.waves-light
            = image_tag "matchmythesis.png", class:"activator"
          .card-content
            %span{class:"card-title activator grey-text text-darken"}
              Match My Thesis
              %i{class:"material-icons right"} more_vert
            %p
              = link_to "check it out", "http://matchmythesis.com", target: "_blank", class:"teal-text darken-1"
          .card-reveal
            %span{class:"card-title grey-text text-darken-4"}
              Match My Thesis Rails App
              %i{class:"material-icons right"} close
            %p A project I worked on
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{id:"work", class:"card section scrollspy"}
          .card-image.waves-effect.waves-block.waves-light
            = image_tag "medas.png", class:"activator"
          .card-content
            %span{class:"card-title activator grey-text text-darken"}
              Medas Case Management
              %i{class:"material-icons right"} more_vert
          .card-reveal
            %span{class:"card-title grey-text text-darken-4"}
              Rails App
              %i{class:"material-icons right"} close
            %p A project I worked on
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{id:"work", class:"card section scrollspy"}
          .card-image.waves-effect.waves-block.waves-light
            = image_tag "klinikker.png", class:"activator"
          .card-content
            %span{class:"card-title activator grey-text text-darken"}
              Klinikker
              %i{class:"material-icons right"} more_vert
            %p
              = link_to "check it out", "https://klinikker.dk", target: "_blank", class:"teal-text darken-1"
          .card-reveal
            %span{class:"card-title grey-text text-darken-4"}
              Django App
              %i{class:"material-icons right"} close
            %p A project I worked on

.short-banner{style:"background-image: linear-gradient(-180deg, rgba(20,20,20,0.70) 0%, rgba(20,20,20,0.70) 90%), url('images/contact.jpg')"}
  .container
    %h4.white-text.center Contact Me

.wrapper-gray
  .container
    .row{id:"id-row"}
      .card-panel.col.s8.offset-s2
        %div{id:"success-message", class:"col s8 offset-s2 hidden"}
          %ul{id:"staggered-list"}
            %li
              %h4.center.padded Thanks! I'll get back to you soon.
        %form{id:"contact-form"}
          %h5.center{class:"teal-text darken-1"} Drop me a line
          .row{id:"contact", class:"section scrollspy"}
            %div{class:"input-field col s8 offset-s2"}
              %input{id:"name", type:"text", class:"validate"}
              %label{for:"name"}Name
          .row
            %div{class:"input-field col s8 offset-s2"}
              %input{id:"email", type:"email", class:"validate"}
              %label{for:"email"}Email
          .row
            %div{class:"input-field col s8 offset-s2"}
              %textarea{id:"message", class:"materialize-textarea"}
              %label{for:"message"} Your Message
          .row.center
            %a{id:"send-message", class:"waves-effect waves-light btn teal darken-1"} Send
