.banner{style:"background-image: linear-gradient(-180deg, rgba(10,10,10,0.30) 0%, rgba(10,10,10,0.30) 90%), url('images/desk3.jpg')"}
  .container
    %h1 Nathan Kuik
    %h5{class:"thin"} Software Developer
.wrapper-gray
  .container
    .row
      %div{class:"col s10 offset-s1 vertical-margin"}
        %div{class:"card-panel s10 offset-s1 white top-margin center"}
          %h3{id: "about", class:"scrollspy teal-text darken-1"} About
          %p{class:"teal-text darken-1 section flow-text"}
            I'm a former (currently licensed) co-occurring therapist that's shifted into
            tech and web development. I live in Berlin and I love it.
          %p{class:"section scrollspy flow-text teal-text darken-1"}
            I've always been interested in coding, so I took the plunge and completed a 9-week bootcamp through
            = link_to "Le Wagon", "https://www.lewagon.com/", target: "_blank", class:"grey-text text-darken-2"
            and I now work as a developer at
            = link_to "Twyla", "https://www.twylahelps.com/", target: "_blank", class:"grey-text text-darken-2"
            using python to build chatbots.
          %p{class:"flow-text teal-text darken-1"}
            Above all, I'm a problem solver and love to see issues from all possible angles. Finding a solution means getting
            to the root of the problem, and this is what I'm good at.
          %p{class:"flow-text teal-text darken-1"}
            I'm open to ideas and projects, so
            = link_to "send me a message!", "#contact", class:"grey-text text-darken-2"
          = link_to "See my work", "#work", class:"top-margin bottom-margin waves-effect waves-light btn-large teal darken-1"

.wrapper-gray
  .short-banner{class:"vertical-margin", style:"background-image: linear-gradient(-180deg, rgba(10,10,10,0.40) 0%, rgba(10,10,10,0.40) 90%), url('images/work.jpg')"}
    .container
      %h4{id:"work", class:"white-text center section scrollspy"} Recent work

.wrapper-gray
  .container
    .row.padded
      %div{class:"col s8 offset-s2"}
        %div{class:"card"}
          .card-image
            = image_tag "worlddifference.png" #, class:"activator"
          .card-content
            %span{class:"card-title activator black-text"}
              World of Difference
              -# %i{class:"material-icons right"} more_vert
            %p{class:"grey-text"}
              First Rails app I worked on. Stack included Rails, SCSS, Javascript, and Postgres. I continued working on the app when I interned at Mellemfolkeligt Samvirke.
          .card-action
            = link_to "see the site", "https://world-of-difference-nkuik.herokuapp.com/", target: "_blank", class:"teal-text darken-1 waves-effect"
          -# .card-reveal
          -#   %span{class:"card-title grey-text text-darken-4"}
          -#     World of Difference Rails App
          -#     %i{class:"material-icons right"} close
          -#   %p Another project I worked on. Let's try adding some more information to this card.
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{class:"card"}
          .card-image
            = image_tag "matchmythesis.png" #, class:"activator"
          .card-content
            %span{class:"card-title activator black-text"}
              Match My Thesis
              -# %i{class:"material-icons right"} more_vert
            %p{class:"grey-text"}
              Final two-week project for Le Wagon. Stack also includes Rails, SCSS, Javascript, and PostgreSQL. It is a live web app.
          .card-action
            = link_to "see the site", "http://matchmythesis.com", target: "_blank", class:"teal-text darken-1 waves-effect"
          -# .card-reveal
          -#   %span{class:"card-title grey-text text-darken-4"}
          -#     Match My Thesis Rails App
          -#     %i{class:"material-icons right"} close
          -#   %p A project I worked on
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{id:"work", class:"card"}
          .card-image
            = image_tag "medas.png", class:"activator"
          .card-content
            %span{class:"card-title activator grey-text text-darken-3"}
              Medas Case Management
              -# %i{class:"material-icons right"} more_vert
            %p
              Case management software used by over 80 Swiss health professionals.
          -# .card-reveal
          -#   %span{class:"card-title grey-text text-darken-4"}
          -#     Rails App
          -#     %i{class:"material-icons right"} close
          -#   %p A project I worked on
    .row.padded
      %div{class:"col s8 offset-s2"}
        -# ID for the following div is for link scroll navigation
        %div{id:"work", class:"card"}
          .card-image
            = image_tag "klinikker.png", class:"activator"
          .card-content
            %span{class:"card-title activator black-text"}
              Klinikker
              -# %i{class:"material-icons right"} more_vert
            %p{class:"grey-text"}
              Web app where I work. The site is currently a Django app, but we are now doing a complete rewrite in Rails and Elm.
              The new stack includes Rails, Elm, Javascript, Gulp, SCSS, and PostgreSQL.
          .card-action
            = link_to "see the site", "https://www.klinikker.dk", target: "_blank", class:"teal-text darken-1 waves-effect"
          -# .card-reveal
            -# %span{class:"card-title grey-text text-darken-4"}
            -#   Django App
            -#   %i{class:"material-icons right"} close
            -# %p A project I worked on

.wrapper-gray
  .short-banner{class:"vertical-margin", style:"background-image: linear-gradient(-180deg, rgba(20,20,20,0.70) 0%, rgba(20,20,20,0.70) 90%), url('images/contact.jpg')"}
    .container
      %h4.white-text.center Contact Me

.wrapper-gray
  .container
    .row{id:"id-row"}
      .card-panel.col.s8.offset-s2
        %div{id:"success-message", class:"col s8 offset-s2 hidden"}
          %ul{id:"staggered-list"}
            %li
              %h4.center.padded Thanks! I'll get back to you soon.
        %form{id:"contact-form"}
          %h5.center{class:"teal-text darken-1 less-padded"} I look forward to hearing from you!
          .row{id:"contact", class:"section scrollspy"}
            %div{class:"input-field col s8 offset-s2"}
              %input{id:"name", type:"text"}
              %label{class:"active", for:"name"} Name
          .row
            %div{class:"input-field col s8 offset-s2"}
              %input{id:"email", type:"email", class:"validate", name:"_replyto"}
              %label{class:"active", for:"email"} Email
          .row
            %div{class:"input-field col s8 offset-s2"}
              %textarea{id:"message", class:"materialize-textarea"}
              %label{class:"active", for:"message"} Your Message
          .row.center
            %a{id:"send-message", class:"waves-effect waves-light btn teal darken-1"} Send
